#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	cargo build --release --all

override_dh_auto_test:
	cargo test --release

override_dh_auto_install:
	mkdir -p debian/reamped/usr/bin
	mkdir -p debian/reamped/usr/share/applications
	mkdir -p debian/reamped/usr/share/doc/reamped
	cp target/release/ReAmped debian/reamped/usr/bin/reamped
	cp ~/.local/share/applications/ReAmped.desktop debian/reamped/usr/share/applications/reamped.desktop
	cp LICENSE debian/reamped/usr/share/doc/reamped/
	cp README.md debian/reamped/usr/share/doc/reamped/

override_dh_strip:
	dh_strip --no-automatic-dbgsym
